AZURE_STORAGE_ACCOUNT_URL=
TIMESHEET_TABLE_NAME=Timesheet
TASK_SERVICE_BASE_URL=http://localhost:8002
PROFILE_SERVICE_BASE_URL=http://localhost:8001
JWKS_URL=http://localhost:8001/.well-known/jwks.json
CORS_ALLOWED_ORIGIN=
ENVIRONMENT=local
AZURE_STORAGE_CONNECTION_STRING=
PORT=8003
